@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

:global(.animate-fadeIn) {
  animation: fadeIn 0.2s ease-in-out;
}

:global(.animate-slideUp) {
  animation: slideUp 0.3s ease-out;
}

:global(.max-h-80vh) {
  max-height: 80vh;
}
